<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
        <span class="fa fa-book"> {{ site.title }}</span>
        {% if site.viewer.github.branch and site.github_metadata != false %}v: {{ branch }}{% endif %}
        <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
        {% include addons/github.liquid %}
        {%- if site.viewer.translations -%} {% include addons/i18n.liquid %} {%- endif -%}
        {%- if site.viewer.theme_addons -%} {% include addons/plugins.liquid %} {%- endif -%}
        {%- comment -%}
            site analytics will be always processed no matter whether it's ON or OFF,
            it only matters to show or hide the info.
        {%- endcomment -%}
        {% include addons/analytics.liquid %}
        <hr>

        <small>
            <span>
                Built with
                <a href="https://jekyllrb.com/">Jekyll</a>
                using the
                <a href="https://github.com/rundocs/jekyll-rtd-theme">jekyll-rtd-theme</a> (MIT)
            </span>
        </small>
    </div>
</div>
